.sidebarOption {
  cursor: pointer;
  color: gray;
  height: 42px;
  transition: 0.2 color ease-in;
  display: flex;
  align-items: center;
  margin-left: 4px;
}
.sidebarOption:hover {
  color: white;
}
.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}

.sidebarOption > p {
  margin-left: 20px;
  font-size: 14px;
}
